header .header__section .header__section-desc .avatar, header .header__section .header__section-desc, header .header__section .header__section-boxes, header .header__section .header__section-item1 button, header .header__section .header__section-item1, header .header__section, header nav .nav__section button, header nav .nav__section ul, header nav .nav__section, header nav .logo, header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  background: #2B2B2B;
}
header nav {
  width: 100%;
  padding: 20px 50px;
  justify-content: space-between;
}
header nav .logo {
  gap: 10px;
}
header nav .nav__section {
  gap: 10px;
}
header nav .nav__section ul {
  padding: 20px;
  gap: 50px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
header nav .nav__section button {
  padding: 20px 30px;
  gap: 12px;
  border-radius: 20px;
  background: #A259FF;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
header nav .bars {
  display: none;
}
header .header__section {
  padding: 80px;
  width: 100%;
  align-items: start;
  gap: 30px;
}
header .header__section .header__section-item1 {
  max-width: 510px;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
header .header__section .header__section-item1 h1 {
  color: #FFF;
  font-size: 67px;
  font-weight: 600;
  text-transform: capitalize;
}
header .header__section .header__section-item1 p {
  color: #FFF;
  font-size: 22px;
  line-height: 167%;
  text-transform: capitalize;
}
header .header__section .header__section-item1 button {
  padding: 20px 50px;
  border: none;
  border-radius: 20px;
  background: #A259FF;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
header .header__section .header__section-boxes {
  width: 100%;
  justify-content: start;
  gap: 30px;
}
header .header__section .header__section-boxes h4 {
  color: #FFF;
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
}
header .header__section .header__section-boxes p {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
}
header .header__section .header__section-item2 .header__section-image {
  width: 510px;
  height: 401px;
  background-image: url(../../images/image1.png);
  background-size: cover;
  background-position: center;
}
header .header__section .header__section-desc {
  padding: 20px;
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  border-radius: 0px 0px 20px 20px;
  background: #3B3B3B;
}
header .header__section .header__section-desc img {
  width: 24px;
  height: 24px;
}
header .header__section .header__section-desc h5 {
  color: #FFF;
  font-size: 22px;
  font-weight: 600;
}
header .header__section .header__section-desc p {
  color: #FFF;
  font-size: 16px;
}
header .header__section .header__section-desc .avatar {
  justify-content: start;
  gap: 12px;
}
@media (max-width: 1200px) {
  header nav {
    padding: 20px;
  }
  header nav .nav__section ul {
    gap: 30px;
  }
}
@media (max-width: 990px) {
  header nav {
    padding: 20px 50px;
  }
  header nav .nav__section {
    display: none;
  }
  header nav .bars {
    display: block;
  }
}
@media (max-width: 447px) {
  header nav {
    padding: 20px 30px;
  }
}/*# sourceMappingURL=header.css.map */